.titulo{
    text-align: center;
    text-decoration: underline;
    color: blue;
}

#img1{
    margin-left: 20%;
    margin-top: 2%;
    display: inline-block;
}

#img2{
    display: inline-block;
    margin-left: 58%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

#img3{

}

#bibliografia{
    display: inline;
}

#classi{
    text-decoration: underline;
    color: blue;
    text-align: center;
}

#intro{
        display: inline-block;
        width: 400px;
        text-align: center;
        height: 170px;
        margin-left: 200px;
        margin-bottom: 30px;
}

#soco{
    display: inline-block;
    width: 350px;
    text-align: center;
    margin-left: 20%;
    margin-top: 10%;
    position: absolute;

}

body{
    background-color: rgb(205, 179, 230);
}

footer{
    float: right;
}

nav li{
    display: inline;
    margin-left: 260px;
    background-color: rgb(181, 178, 201);
   
}

nav{
    background-color: rgb(158, 158, 236);
}

h1{
    font-family: monospace;
}



aside{
    margin: 20px;
    display: inline-block;
    position: fixed;
    right: 0;
    top: 0%;
    border: solid red 2px;

}

section p{
    width: 500px;
    text-align: center;
    display: inline-block;
    
    
}

section ul{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
