.App {
  text-align: center;
  border: solid black 1px;
  width: 40%;
  border-radius: 30%;
  margin: 20px;
}

.divPokemons {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}