input {
  margin: 5px;
}

fieldset {
  background-color: rgb(126, 177, 147);
  border: 2px groove black;
  border-radius: 4px;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

body{
    background-color: rgb(60, 153, 153);
}


#endereço{
    resize: none;
}

#type {
    display: block;
}

#resumo {
    resize: none;
    width: 500px;
    margin-bottom: 10px;
}

#fielset2 {
    margin-top: 20px;
    text-align: center;
}

#descricao{
    resize: none;
    margin-right: 5%;
}

